@charset "utf-8";
body::-webkit-scrollbar {
  width: 0px;
  height: 0;
  background: transparent;
}
.mainWrap {
  display: none;
  width: 100vw;
}
.mainWrap.show {
  display: block;
}
.introBg {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background: url("../images/bg/bg.png") no-repeat center / cover;
}
.intro {
  width: 100%;
  height: 600%;
  background: url("../images/mainImg.jpg") no-repeat bottom / cover;
  background-color: #fdfbf5;
}
.intro.hide {
  display: none;
}

.introContents {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.introContents .introLogo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
}
.intro .logoWrap > img {
  width: 100%;
}
.intro .introText {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  text-align: center;
  line-height: 2;
}
.intro .introText .bold {
  font-weight: bold;
}

.scrollWrap {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.scroll:first-of-type {
  bottom: 50px;
}
.scroll:nth-of-type(2) {
  bottom: 25px;
}
.scroll:last-of-type {
  bottom: 0;
}
.mainWrap {
  display: none;
}
.mainWrap.show {
  display: block;
}
.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 60px;
  line-height: 60px;
  z-index: 1;
}
.headerContainer.product {
  border-bottom: 1px solid #ccbeb2;
  box-shadow: 0 1px 20px rgba(149, 130, 112, 0.15);
}
.headerContainer .logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 140px;
  padding-left: 50px;
}
.headerContainer .logo > img {
  display: block;
  width: 100%;
}
.headerContainer .gnb {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.headerContainer .gnb ul {
  display: flex;
  text-align: center;
  gap: 80px;
}
.headerContainer .gnb ul {
  display: flex;
  text-align: center;
  gap: 80px;
}
.headerContainer .gnb a:hover,
.headerContainer .gnb a.on {
  text-decoration: underline;
}

.headerContainer.show {
  background: rgba(255, 255, 255, 0.7);
}
.headerContainer.show .gnb {
  display: block;
}
#sectionWrap1 {
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}
.sectionWrap.on {
  display: block;
}
.imgSectionWrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imgSectionWrap.hide {
  display: none;
}
.sectionContWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sectionContWrap.img > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sectionContWrap.text {
  width: auto;
  height: auto;
  top: 45%;
  left: 15%;
  font-size: 22px;
  line-height: 1.5;
}
.sectionContWrap.text .contName {
  margin-bottom: 34px;
  font-weight: 800;
  font-size: 30px;
  line-height: 1;
}
.sectionContWrap.text .contName > span {
  padding-left: 8px;
  font-weight: normal;
  font-size: 22px;
}

/* 애니메이션 영역 */
.aniSectionWrap {
  width: 100%;
  height: 600%;
  background: url("../images/bg/bgLong.jpg") no-repeat center / cover;
}
.aniSectionWrap.hide {
  display: none;
}
.aniSectionWrap .productImgWrap {
  position: fixed;
  top: 60px;
  left: 60%;
  width: 300px;
  height: calc(100vh - 60px);
  max-height: 1080px;
  margin: auto 0;
}
.aniSectionWrap .productImgWrap > img {
  display: block;
  position: absolute;
}
.aniSectionWrap .product {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -40%);
  width: 100%;
  z-index: 10;
}
.aniSectionWrap .tangerine {
  top: 0;
  left: 140px;
  width: 510px;
  max-width: 60vw;
}
.aniSectionWrap .lemon1 {
  left: 270px;
  bottom: 35px;
  width: 360px;
  max-width: 48vw;
}
.aniSectionWrap .lemon2 {
  left: -260px;
  bottom: 95px;
  width: 280px;
  max-width: 45vw;
  transform: rotate(3deg);
  z-index: 1;
}
.aniSectionWrap .blackcurrent {
  left: -340px;
  bottom: 280px;
  width: 420px;
  max-width: 65vw;
}
.aniSectionWrap .productInfoWrap {
  width: 40%;
  height: 100%;
  position: fixed;
  top: 60px;
  left: 8vw;
  padding-left: 18px;
}
.aniSectionWrap .productTextWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-52%);
  font-size: 4.2vw;
  font-weight: 1000;
  line-height: 1.4;
  letter-spacing: -0.7px;
  -webkit-text-stroke: 1.5px rgba(17, 17, 17, 0.5);
}
.productTextWrap .productText {
  position: relative;
}
.productTextWrap .productText > span {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
}
.aniSectionWrap .productText > span.on {
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;

  opacity: 0;
  clip-path: inset(100% 0% 0% 0%);
  -webkit-clip-path: inset(100% 0% 0% 0%);
}

@media screen and (max-width: 1024px) {
}
